<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/0.0.0-insiders.4a070ac/tailwind.min.css" integrity="sha512-vJu7D5BpjnNXVpLBrl9LKLvmXBNjiLwge8EOZ/YS9XwiChpfKLAlydwIZvoJaDE3LI/kr3goH0MzDzNbBgyoOQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="font-sans">
    <div class="navbar navbar-inverse navbar-fixed-top shadow-lg">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SuperUsers", "Index", "Compte", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="transition duration-300">@Html.ActionLink("Gèrer mon compte", "TableComptes", "Compte")</li>
                    <li class="RegistrationBtn bg-green-500 hover:bg-green-600 transition duration-700 ease-in-out rounded transform hover:-translate-x-0 hover:scale-110 text-green-800 hover:text-green-900">@Html.ActionLink("Nous rejoindre", "Create", "Compte")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-gray-100 FullSize">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style>
        .FullSize {
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            top: 0;
        }

        .RegistrationBtn {
            position: absolute !important;
            right: 20px;
            top: 9px;
        }

            .RegistrationBtn > a {
                padding: 4px 22px 7px !important;
                color: rgba(6,95,70) !important;
            }
    </style>
</body>
</html>
